@mixin clearfix {

  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin scrollBar {

  &::-webkit-scrollbar-track-piece {
    background: #D3DCE6;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: #99A9BF;
  }
}

@mixin relative {
  position: relative;
  width: 100%;
  height: 100%;
}
